<ion-header>
  <ion-toolbar>
    <ion-title>
      Relação de Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add" [routerLink] = "(['/tabs/addCliente'])"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngIf="clientes$ | async as clientes">
    <ion-item *ngFor="let cliente of clientes">
      <ion-label>{{cliente.nome}}</ion-label>
      <ion-label>{{cliente.email}}</ion-label>
    </ion-item>
    </ion-list>

</ion-content>
